* {
  padding: 0;
  margin: 0;
}


.up {
  position: relative;
  margin:15% 38% ;
  text-align: center;
}

.up h1 {
  margin: 5px ;
  font-size: 4rem;
  font-weight: bold;
  color: darkslategray;
  padding-bottom: 20px;
  margin-top: 30px;
}

.up h1>span {
  font-size: 7rem;
  font-weight: bold;
} 
.up .up-butn {
  display: flex;
  justify-content: center;
  align-items:center ;

}

.up button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  border: 3px darkslategray solid;
  color: rgb(26, 62, 63);
  cursor: pointer;
  transition: 0.5s;
}


.up button:hover {
  transform: translateY(-5px);
  background-color: #c2c1c1;
}

.up .bt1:hover {
  color: green;
}

.up .bt3:hover {
  color: red;
}